drop extension if exists "pg_net";

create type "public"."category" as enum ('technical', 'financial', 'operational', 'account', 'billing', 'general');

create type "public"."event_type" as enum ('ticket_created', 'ticket_closed', 'ticket_reopened', 'status_changed', 'column_changed', 'assigned', 'unassigned', 'title_changed', 'description_changed', 'priority_changed', 'category_changed', 'customer_changed', 'message_added');

create type "public"."priority" as enum ('low', 'medium', 'high', 'urgent');

create type "public"."sender_type" as enum ('agent', 'customer');

create type "public"."status" as enum ('open', 'in_progress', 'waiting_customer', 'resolved', 'closed');


  create table "public"."customers" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "email" text,
    "phone" text,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now()
      );



  create table "public"."kanban_columns" (
    "id" uuid not null default gen_random_uuid(),
    "name" text not null,
    "position" integer not null,
    "created_at" timestamp with time zone default now()
      );



  create table "public"."ticket_events" (
    "id" uuid not null default gen_random_uuid(),
    "ticket_id" uuid not null,
    "event_type" public.event_type not null,
    "created_at" timestamp with time zone default now()
      );



  create table "public"."ticket_messages" (
    "id" uuid not null default gen_random_uuid(),
    "ticket_id" uuid not null,
    "sender_type" public.sender_type not null,
    "message" text not null,
    "created_at" timestamp with time zone default now()
      );



  create table "public"."tickets" (
    "id" uuid not null default gen_random_uuid(),
    "customer_id" uuid not null,
    "kanban_column_id" uuid not null,
    "title" text not null,
    "description" text,
    "priority" public.priority,
    "category" public.category,
    "assigned_to" uuid,
    "status" public.status,
    "order_in_column" integer,
    "created_at" timestamp with time zone default now(),
    "updated_at" timestamp with time zone default now()
      );


CREATE UNIQUE INDEX customers_pkey ON public.customers USING btree (id);

CREATE UNIQUE INDEX kanban_columns_pkey ON public.kanban_columns USING btree (id);

CREATE UNIQUE INDEX ticket_events_pkey ON public.ticket_events USING btree (id);

CREATE UNIQUE INDEX ticket_messages_pkey ON public.ticket_messages USING btree (id);

CREATE UNIQUE INDEX tickets_pkey ON public.tickets USING btree (id);

alter table "public"."customers" add constraint "customers_pkey" PRIMARY KEY using index "customers_pkey";

alter table "public"."kanban_columns" add constraint "kanban_columns_pkey" PRIMARY KEY using index "kanban_columns_pkey";

alter table "public"."ticket_events" add constraint "ticket_events_pkey" PRIMARY KEY using index "ticket_events_pkey";

alter table "public"."ticket_messages" add constraint "ticket_messages_pkey" PRIMARY KEY using index "ticket_messages_pkey";

alter table "public"."tickets" add constraint "tickets_pkey" PRIMARY KEY using index "tickets_pkey";

alter table "public"."ticket_events" add constraint "ticket_events_ticket_id_fkey" FOREIGN KEY (ticket_id) REFERENCES public.tickets(id) not valid;

alter table "public"."ticket_events" validate constraint "ticket_events_ticket_id_fkey";

alter table "public"."ticket_messages" add constraint "ticket_messages_ticket_id_fkey" FOREIGN KEY (ticket_id) REFERENCES public.tickets(id) not valid;

alter table "public"."ticket_messages" validate constraint "ticket_messages_ticket_id_fkey";

alter table "public"."tickets" add constraint "tickets_customer_id_fkey" FOREIGN KEY (customer_id) REFERENCES public.customers(id) not valid;

alter table "public"."tickets" validate constraint "tickets_customer_id_fkey";

alter table "public"."tickets" add constraint "tickets_kanban_column_id_fkey" FOREIGN KEY (kanban_column_id) REFERENCES public.kanban_columns(id) not valid;

alter table "public"."tickets" validate constraint "tickets_kanban_column_id_fkey";

set check_function_bodies = off;

CREATE OR REPLACE FUNCTION public.update_updated_at()
 RETURNS trigger
 LANGUAGE plpgsql
AS $function$
begin
  new.updated_at = now();
  return new;
end;
$function$
;

grant delete on table "public"."customers" to "anon";

grant insert on table "public"."customers" to "anon";

grant references on table "public"."customers" to "anon";

grant select on table "public"."customers" to "anon";

grant trigger on table "public"."customers" to "anon";

grant truncate on table "public"."customers" to "anon";

grant update on table "public"."customers" to "anon";

grant delete on table "public"."customers" to "authenticated";

grant insert on table "public"."customers" to "authenticated";

grant references on table "public"."customers" to "authenticated";

grant select on table "public"."customers" to "authenticated";

grant trigger on table "public"."customers" to "authenticated";

grant truncate on table "public"."customers" to "authenticated";

grant update on table "public"."customers" to "authenticated";

grant delete on table "public"."customers" to "service_role";

grant insert on table "public"."customers" to "service_role";

grant references on table "public"."customers" to "service_role";

grant select on table "public"."customers" to "service_role";

grant trigger on table "public"."customers" to "service_role";

grant truncate on table "public"."customers" to "service_role";

grant update on table "public"."customers" to "service_role";

grant delete on table "public"."kanban_columns" to "anon";

grant insert on table "public"."kanban_columns" to "anon";

grant references on table "public"."kanban_columns" to "anon";

grant select on table "public"."kanban_columns" to "anon";

grant trigger on table "public"."kanban_columns" to "anon";

grant truncate on table "public"."kanban_columns" to "anon";

grant update on table "public"."kanban_columns" to "anon";

grant delete on table "public"."kanban_columns" to "authenticated";

grant insert on table "public"."kanban_columns" to "authenticated";

grant references on table "public"."kanban_columns" to "authenticated";

grant select on table "public"."kanban_columns" to "authenticated";

grant trigger on table "public"."kanban_columns" to "authenticated";

grant truncate on table "public"."kanban_columns" to "authenticated";

grant update on table "public"."kanban_columns" to "authenticated";

grant delete on table "public"."kanban_columns" to "service_role";

grant insert on table "public"."kanban_columns" to "service_role";

grant references on table "public"."kanban_columns" to "service_role";

grant select on table "public"."kanban_columns" to "service_role";

grant trigger on table "public"."kanban_columns" to "service_role";

grant truncate on table "public"."kanban_columns" to "service_role";

grant update on table "public"."kanban_columns" to "service_role";

grant delete on table "public"."ticket_events" to "anon";

grant insert on table "public"."ticket_events" to "anon";

grant references on table "public"."ticket_events" to "anon";

grant select on table "public"."ticket_events" to "anon";

grant trigger on table "public"."ticket_events" to "anon";

grant truncate on table "public"."ticket_events" to "anon";

grant update on table "public"."ticket_events" to "anon";

grant delete on table "public"."ticket_events" to "authenticated";

grant insert on table "public"."ticket_events" to "authenticated";

grant references on table "public"."ticket_events" to "authenticated";

grant select on table "public"."ticket_events" to "authenticated";

grant trigger on table "public"."ticket_events" to "authenticated";

grant truncate on table "public"."ticket_events" to "authenticated";

grant update on table "public"."ticket_events" to "authenticated";

grant delete on table "public"."ticket_events" to "service_role";

grant insert on table "public"."ticket_events" to "service_role";

grant references on table "public"."ticket_events" to "service_role";

grant select on table "public"."ticket_events" to "service_role";

grant trigger on table "public"."ticket_events" to "service_role";

grant truncate on table "public"."ticket_events" to "service_role";

grant update on table "public"."ticket_events" to "service_role";

grant delete on table "public"."ticket_messages" to "anon";

grant insert on table "public"."ticket_messages" to "anon";

grant references on table "public"."ticket_messages" to "anon";

grant select on table "public"."ticket_messages" to "anon";

grant trigger on table "public"."ticket_messages" to "anon";

grant truncate on table "public"."ticket_messages" to "anon";

grant update on table "public"."ticket_messages" to "anon";

grant delete on table "public"."ticket_messages" to "authenticated";

grant insert on table "public"."ticket_messages" to "authenticated";

grant references on table "public"."ticket_messages" to "authenticated";

grant select on table "public"."ticket_messages" to "authenticated";

grant trigger on table "public"."ticket_messages" to "authenticated";

grant truncate on table "public"."ticket_messages" to "authenticated";

grant update on table "public"."ticket_messages" to "authenticated";

grant delete on table "public"."ticket_messages" to "service_role";

grant insert on table "public"."ticket_messages" to "service_role";

grant references on table "public"."ticket_messages" to "service_role";

grant select on table "public"."ticket_messages" to "service_role";

grant trigger on table "public"."ticket_messages" to "service_role";

grant truncate on table "public"."ticket_messages" to "service_role";

grant update on table "public"."ticket_messages" to "service_role";

grant delete on table "public"."tickets" to "anon";

grant insert on table "public"."tickets" to "anon";

grant references on table "public"."tickets" to "anon";

grant select on table "public"."tickets" to "anon";

grant trigger on table "public"."tickets" to "anon";

grant truncate on table "public"."tickets" to "anon";

grant update on table "public"."tickets" to "anon";

grant delete on table "public"."tickets" to "authenticated";

grant insert on table "public"."tickets" to "authenticated";

grant references on table "public"."tickets" to "authenticated";

grant select on table "public"."tickets" to "authenticated";

grant trigger on table "public"."tickets" to "authenticated";

grant truncate on table "public"."tickets" to "authenticated";

grant update on table "public"."tickets" to "authenticated";

grant delete on table "public"."tickets" to "service_role";

grant insert on table "public"."tickets" to "service_role";

grant references on table "public"."tickets" to "service_role";

grant select on table "public"."tickets" to "service_role";

grant trigger on table "public"."tickets" to "service_role";

grant truncate on table "public"."tickets" to "service_role";

grant update on table "public"."tickets" to "service_role";

CREATE TRIGGER trg_customers_updated_at BEFORE UPDATE ON public.customers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();

CREATE TRIGGER trg_tickets_updated_at BEFORE UPDATE ON public.tickets FOR EACH ROW EXECUTE FUNCTION public.update_updated_at();



